!!!
html
    head
        title= title
        link(href='/css/main.css', rel='stylesheet', type='text/css')
        script(src='/js/lib/jquery-1.7.2.min.js')
        script(src='/js/lib/underscore-min.js')
        script(src='/js/lib/backbone-min.js')
        script(src='/js/lib/handlebars.js')
        script(type='text/javascript')
            var MSGS = !{JSON.stringify(msgs)};
        script(src='/js/main.js')
    body!= body